* {
  font-family: "Roboto", sans-serif;
  color: #23125f;
  margin: 0;
  padding: 0;
}
a {
  margin-top: -10px;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
}
.home {
  color: #23125f;
  font-size: 50px;
  font-weight: bold;
}
.subline {
  color: #23125f;
  margin-top: 10px;
  font-size: 24px;
}
.homebtn {
  background-image: linear-gradient(#342958, #23125f, #100538);
  border: none;
}
.car-img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.car-img img {
  width: 100%;
  height: auto;
}
.event-h1 {
  color: rgb(155, 181, 238);
}
.event-h2 {
  color: #23125f;
}
.event-sec {
  padding-right: -20px;
  padding-left: 3%;
}
/* Event CSS classes */
.card {
  width: 450px;
}
.card-image {
  height: 200px;
  margin-bottom: 15px;
  background-size: cover;
}
.card-1 {
  background-image: url("images/service3.png");
}
.card-2 {
  background-image: url("images/service2.png");
}
.card-3 {
  background-image: url("images/service1.png");
}
.date {
  color: rgb(155, 181, 238);
  margin-left: 15px;
  background-color: #e4e4e4;
}
.price {
  color: rgb(155, 181, 238);
  margin: 10px;
  margin-left: 100px;
}
.days {
  margin-left: 20px;
  padding: 10px;
}
.about_text {
  margin-left: 100px;
}
.about_heading {
  color: rgb(155, 181, 238);
}
.about_subline {
  font-weight: bold;
}
.about_des {
  color: #6e6885;
}
.bottom-slider div {
  margin-right: 0px !important;
}
.video-des {
  font-size: 30px;
}

.customer {
  background-image: linear-gradient(
    to right,
    #6fa7f0,
    rgb(176, 164, 223),
    rgb(189, 184, 211),
    #d1b0be,
    #ee91c7
  );
}
.cus-heading {
  font-size: 35px;
}
.cus-text {
  font-size: 24px;
}
.ceo-text {
  margin-left: 1%;
}
.ceo_name {
  font-weight: bold;
}
.ceo_des {
  margin-top: -10px;
}
.footer {
  background-color: #23125f;
}
.footer-contact ul li a {
  color: grey;
  margin-bottom: 30px;
}
.footer-contact {
  color: white;
  margin-bottom: 100px;
}
ul {
  list-style: none;
}
.social_links {
  color: rgb(17, 25, 141);
  height: 20px;
  width: 20px;
}
.image-overlay {
  position: relative;
  display: inline-block;
}
.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold; /* Adjust the font weight */
  z-index: 2; /* Ensure the image text is displayed above the image */
}
/* Media Queries */
/* Small screens */
@media screen and (max-width: 768px) {
  .about {
    margin: 20px;
    padding: 20px;
  }

  .about_text {
    margin-left: 0;
    margin-top: 20px;
  }

  .about_subline {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
  .card {
    width: 100%;
  }
  .ceo-text {
    font-size: 10px;
  }
}
@media screen and (min-width: 600px) {
  .nav-div {
    background-color: white;
  }
}

@media (max-width: 600px) {
  .owl-nav {
    display: none !important;
  }
}
/* Adjusting Font size with screen size*/
@media screen and (max-width: 768px) {
  .image-text {
    font-size: 18px;
  }
  .home {
    font-size: 20px;
  }
  .subline {
    font-size: 10px;
  }
  .video-des {
    font-size: 10px;
  }
  .cus-text {
    font-size: 8px;
  }
  .cus-heading {
    font-size: 15px;
  }
}
.owl-prev,
.owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block !important;
  border: 0px solid black;
}
.owl-prev {
  left: 20px;
}
.owl-next {
  right: 20px;
}
.owl-prev i,
.owl-next i {
  transform: scale(2, 5);
  color: #ccc;
}
